*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px ;
    max-width: 600px;
    margin: auto;
}

.contents img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    align-items: center;

}
.image-1{
    /* transform: translateY(20px); */
    grid-col: span 2;
}